$colors: (
    primary: #1a1b26,
    text: #a9b1d6,
    title: #2ac3de,
    headers: #9ece6a
);

$align: center;
$font-weight: 400;

@function color($color-name) {
    @return map-get($colors, $color-name);
}

body {
    background-color: color(primary);

}

h1 {
    text-align: $align;
    color: color(title);
}

h2 {
    text-align: $align;
    color: color(headers);
}

h3 {
    text-align: $align;
    color: color(headers);
}

ul {
    display: inline-block;
    text-align: left;
}

.container {
    color: color(text);
    font-weight: $font-weight;
}

.selfie {
    opacity: 0.5;
    transition: 1s;
}

.selfie:hover {
    opacity: 1;
}