/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Lato|Zilla+Slab:300,400');
body {
	background: url(images/turtle.jpg) no-repeat top left fixed;
	-webkit-background-size: cover;
	background-size: cover;
	font-family: 'Lato', sans-serif;
}
h1, h2 {
	font-family: 'Zilla Slab', serif;
	color: #fff;
	text-shadow: -.1em .1em 0 rgba(0,0,0,0.3);
}
h2 {
	margin: 0 0 6px 0;
	font-size: 1.4em;
	font-weight: 300;
}
a {
	color: #000;
	text-decoration: none;
}
p {
	margin: 0 0 10px 0;
}
figure {
    margin: 0;
}
img {
	display: block;
    border: 0;
    width: 100%;
    height: auto;
}
/* here's our wrapper */
.wrapper {
	width: 95%;
	max-width: 76em;
	margin: 0 auto;
}
/* masthead styling */
.masthead {
	margin: 15px 35% 0 15px;
	padding: 2.5em;
}
.masthead h1 {
	font-size: 2.4em;
	font-weight: normal;
	line-height: 1em;
	margin: 0 0 10px 0;
}
/* navbar styling */
.navbar {
	background-color: #aae1f9;
	margin-bottom: 1.375em;
}
nav {
	display: block;
}
.navbar ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	list-style: none;
	padding: 0;
	margin: 0;
	background-color: #aae1f9;
}
.navbar li {
	flex: 1 0 auto;
	text-transform: uppercase;
	box-sizing: border-box;
}
.navbar li:first-child {
	border-left: 0;
}
.navbar li a {
	display: block;
	text-decoration: none;
	line-height: 1.75em;
	padding: 1em 2em;
	color: #fff;
}
.navbar li a:hover {
	background: #79A3E3;
}

/* content styling */
.cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.card {
	display: flex;
	width: calc(33% - 1em);
	margin-bottom: 2em;
	border: 1px solid #fff;
	box-sizing: border-box;
	background-color: rgba(255,255,255,.5);
}
.card a:hover {
	box-shadow: 4px 4px 8px hsl(0, 0%, 80%);
}

.card-content p {
	font-size: 95%;
	line-height: 1.5;
}
.card-content {
    padding: 1.4em;
}

@media screen and (max-width: 992px) {
	.navbar ul, .card, .cards {
		flex: 50%;
	}
}

@media screen and (max-width: 600px) {
	.navbar ul, .card, .cards {
		flex-direction: column;
	}
}